Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is an organized collection od data,so that it can be easily accessed and managed. The main purpose of database is to operate a large amount of information by storing ,retrieving,and managing data.

SQL: 1.SQL is a relational database.i.e RDBMS 2.SQL databses have fixed or predefined schema. 3.SQL databases display data in form of tables. 4.SQL is used 'structured Query Language' to define and manipulate the data. 5.SQL database is best suited for complex queries. 6.Ex:Oracle,MYSQL,PostgreSQL etc.

NOSQL: 1.NoSQl database are non-relational database. 2.NoSQL database have dynamic scchema. 3.NoSQL database dispaly data as collection of key-value pair.documents etc. 4.NoSQL databases is not so good for complex queries. 5.Ex: MongoDb,Cassandra etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for 'Data Definition language',DDL command is used to create or modify the table.

CREATE: This command is to create a new table in SQL. syntax: create table table_name( column_1 datatype, ... );

DROP: This command is to remove existing table along with its structure from the database. syntax: drop table table_name;

ALTER:
This command is used to add,delete or change columns in the existing table.the user should the name of existing table name. syntax: alter table table_name add column_name datatype

TRUNCATE: This command is used to remove all rows from the table ,but the structure of the table still exist. syntax: truncate table table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is stands for 'Data Manipulation Language'.DML command is used to change the data present in sql database. we can easily access,store,modify,update,and delete the existing record from the database using DML command.

INSERT: INSERT command is uset to insert the data in the existing table. Example: insert into student(stu_id,stu_name) values(001,"bhanu");

UPDATE: update command is used to update existing data within a table. Example: update student set stu_name="ram" where stu_id=001;

DELETE: delete command is used to delete records from a database table. Example: delete from student where stu_id=001;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for 'Data Query Language'.This command allows getting the data out from the database to perform operation Example: select emp_name from employee where age>20;

Q5. Explain Primary Key and Foreign Key.

Primary key:A Primary is unique key in table that ensure data in the specific column is unique.This column cannot have NULL values.

Foreign Key: A foreign key is a column or group of column in a relational database table that provides a link between data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.



import mysql.connector
mydb=mysql.connector.connect(
      host-'localhost',
      user='abc',
      password='password')

print(mydb)

cursor-mydb.cursor()

cursor.execute("show databses")

for i in cursor:
    print(i)

cursor()->cursor() method is used to execute statement to communicate with the MySql database. execute()-> this method accepts a mysql query as a parameter and executes the given query.

Q7. Give the order of execution of SQL clauses in an SQL query.

step1: from
step2:where
step3:group by
step4:having
step5:select
step6: